<section>
	{% if app.flashes('success')  %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	
	{% if app.flashes('warning')  %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	
	{% if app.flashes('error')  %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
</section>