<a href="/"><img style="display:inline-block;width:250px;height:auto;margin-top:20px;"
     src="{{ asset('images/logos/Melanie_JeanRichard_Logo_OK_01.png') }}"
     alt="Melanie JeanRichard Logo"
     class="poiz-logo"
     id="poiz-logo" /></a>
